* {
  margin: 0;
  padding: 0;
  font-family: "WorkSans";
}

@font-face {
  font-family: "WorkSans";
  src: local("fonts"),
   url('./fonts/WorkSans-Bold.ttf') format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "WorkSans";
  src: local("fonts"),
   url('./fonts/WorkSans-SemiBold.ttf') format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "WorkSans";
  src: local("fonts"),
   url('./fonts/WorkSans-Medium.ttf') format("truetype");
  font-weight: 100;
}

  /* Nav Bar */

.nav-bar{
  padding: 40px;
  overflow: hidden;
  position: fixed;
  width: calc(100% - 80px);
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: #F5E8C7;
}

.nav-box{
  width: 30%;
}
.nav-btn{
  text-decoration: none;
  color: #9E7777;
  font-weight: 100;
  font-size: 20px;
}

.nav-btn:hover{
  color: #6F4C5B;
}

@media screen and (max-width: 960px){
  .nav-box{
    display: none;
  }
}



/* Home Page */

.basic-page{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  background-color: #F5E8C7;
  min-height: 100vh;
}

.basic-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 100px 40px 40px 40px;
}

.name-text{
  font-size: 100px;
  color: #6F4C5B;
  line-height: 90%;
}

.skill-text{
  font-size: 40px;
  color: #9E7777;
  font-weight: 200;
}

.img-container{
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img{
  width: 500px;
  height: 500px;
}


@media screen and (max-width: 960px){
  .basic-page{
    flex-direction: column;
    justify-content: center;
  }

  .basic-text{
    font-size: 80px;
  }
  
  .skill-text{
    font-size: 35px;
  }

  .img-container{
    width: 90vw;
    height: fit-content;
  }
  
  
  .img{
    width: 350px;
    height: 350px;
  }
}

/* About Page*/
.about-title{
  font-size: 40px;
  color: #6F4C5B;
}

.about-text{
  font-size: 25px;
  font-weight: 200;
  color: #9E7777;
}

@media screen and (max-width: 960px){
  
}